@use '../mixins' as *;

.section-services {
    position: relative;
    overflow: hidden;
    background: white;

    .container {
        padding-top: 120px;
        padding-bottom: 120px;

        @include tablet {
            padding-top: 60px;
            padding-bottom: 60px;
        }

        @include phone {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }

    // Header — label left, title + desc right
    .services-header {
        display: flex;
        gap: 40px;
        margin-bottom: 60px;

        @include tablet {
            flex-direction: column;
            gap:20px;
            width: 65%;
        }

        @include phone {
            flex-direction: column;
            gap: 20px;
            margin-bottom: 30px;
            text-align: center;
        }
    }

    .services-label {
        @include label;
        flex-shrink: 0;
        padding-top: 8px;
        width: 30%;

        @include phone {
            width: 100%;
            padding-top: 0;
            text-align: center;
        }
    }

    .services-intro {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 16px;

        h2 {
            @include h3;
            color: $dark;
        }

        p {
            color: $grey-text;
            max-width: 757px;
        }
    }

    // Cards grid
    .services-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include phone {
            grid-template-columns: 1fr;
        }
    }

    .service-card {
        background: $light-bg;
        padding: 32px;

        &:first-child {
            grid-column: 2;

            @include phone {
                grid-column: 1;
            }
        }
        display: flex;
        flex-direction: column;
        gap: 12px;

        @include phone {
            align-items: center;
            text-align: center;
        }

        .service-icon {
            width: 95px;
            height: 95px;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                display: block;
            }
        }

        h4 {
            color: $dark;
        }
    }
}
