@use 'mixins' as *;

#errorMain {

    background: $blue-end;

    .section-error {
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 120px;
        padding-bottom: 80px;

        @include phone {
            padding-top: 100px;
            padding-bottom: 60px;
        }

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .error-code {
            font-size: 180px;
            font-weight: 500;
            line-height: 100%;
            margin-bottom: 30px;

            @include tablet {
                font-size: 140px;
            }

            @include phone {
                font-size: 100px;
            }
        }

        header {
            margin-bottom: 30px;

            h2 {
                margin-bottom: 12px;
                padding-bottom: 14px;
                color: $bg;
            }
        }

        p{
            color: $light-bg;
        }

        a{
            color: $accent;

            &:hover {
                color: $bg;
            }
        }
    }
}
