@use 'fonts';
@use 'mixins' as *;
@use 'ui';
@use 'header';
@use 'footer';
@use 'gform';

section,
footer#siteFooter {
    @include padding;
}
.container {
    max-width: 1306px !important;
    margin: 0 auto !important;
    width: 100% !important;
}

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    background: $dark;
}
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:focus {
    outline: none;
}
::selection {
    color: white;
    background: $dark;
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: $dark;
}
::-webkit-input-placeholder {
    color: rgb(95, 95, 95);
    font-size: 16px;
    line-height: 100%;
}
:-ms-input-placeholder {
    color: rgb(95, 95, 95);
    font-size: 16px;
    line-height: 100%;
}
::placeholder {
    color: rgb(95, 95, 95);
    font-size: 16px;
    line-height: 100%;
}

body {
    margin: 0 !important;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: $dark;
    background-color: $dark;
    z-index: 1;
    position: relative;
    overflow-x: hidden;
    @include inter;

    * {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    a {
        @include transition;
        color: inherit;
        text-decoration: none;

        &:hover {
            color: $accent;
        }
    }

    h1 {
        @include h1;
    }
    h2 {
        @include h2;
    }
    h3 {
        @include h3;
    }
    h4 {
        @include h4;
    }
    h5 {
        @include h5;
    }
    p {
        @include bodyRegular;
        margin: 0;
    }

    // Bullet point indicator
    i {
        width: 8px;
        height: 8px;
        background-color: black;
        flex-shrink: 0;
        font-style: normal;
    }

    // Label text (uppercase small)
    .label span {
        @include label;
        color: white;

        @include phone {
            font-size: 14px;
        }
    }
}

.otgs-development-site-front-end {
    display: none;
}